.frame {
    width: 100vw;
    max-width: 1023px;
    height: 65vh;
    border: 0;
    display: block;
    margin: auto;
    
    
 
  
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }